<div class="demo-page">
  <h1>Factory UI</h1>
  <p>Factory UI is a <a href="https://www.npmjs.com/package/factory-ui">NPM-Package</a> that provides base ui components like dialogs, grids, inputs and so forth.</p>
  <p>This page shows all the elements of Factory UI.</p>
  
  <div class="demo-area">
      <div class="demo-item">
          <h2>Generic Dialog</h2>
  
          <button
              mat-raised-button
              color="primary"
              (click)="onOpenGenericDialog()"
          >
          Open Generic Dialog
          </button>
          <p style="margin-top: 5px;">Dialog Values: {{dialogValues | json}}</p>
      </div>

      <div class="demo-item">
        <h2>Generic Dialog Simple</h2>

        <button
            mat-raised-button
            color="primary"
            (click)="onOpenGenericDialogSimple()"
        >
        Open Generic Dialog Simple
        </button>
    </div>
  
      <div class="demo-item">
        <h2>Table</h2>
        <factory-ui-table [isFilterVisible]="true" [columnDefinitions]="columnDefinitions" [data]="tableData"></factory-ui-table>
        <button
          mat-raised-button
          color="primary"
          (click)="onAddGridData()"
          class="table-button"
        >
        Add data
        </button>
      </div>

      <div class="demo-item">
        <h2>Device Manager</h2>
          <app-device-manager-demo></app-device-manager-demo>
      </div>
  </div>
</div>
